@font-face {
	font-family: Raleway;
	src: url(../font/Raleway-Light.ttf);
  }
@font-face {
	font-family: OpenSans;
	src: url(../font/OpenSans-Light.ttf);
} 
@keyframes loading {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
*{
	outline: none;
}
.none{
	display: none !important; 
}
.flex{
	display: flex !important; 
}
#loading{
	width: 100%;
    min-height: calc(100vh - 220px);
    justify-content: center;
    align-items: center;
}
#loading > img{
	width: 50px;
    transform: rotate(0deg);
	animation-name: loading;
	animation-duration: 1.33s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.global-wrapper{
	position: absolute;
	top: 150px;
	width: 100vw;
	min-height: calc(100vh - 240px);
	display: flex;
	background-color: #DE6463;
    font-family: 'Raleway', sans-serif;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	flex-direction: column;
	padding: 0px 20px 20px 20px;
	box-sizing: border-box;
}
.toolbar{
	width: 100%;
	height: 25px;
	margin-bottom: 25px;
	background-color: #DE6463;
	align-items: center;
    display: flex;
    justify-content: flex-end;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.toolbar ul{
    display: flex;
}
.toolbar ul li{
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	margin-right: 7px;
	-webkit-app-region: no-drag;
	z-index: 10;
}
.toolbar ul li:nth-of-type(3){
	background-color: #FF6159;
}
.toolbar ul li:nth-of-type(2){
	background-color: #FFBE2E;
}
.toolbar ul li:nth-of-type(1){
	background-color: #28CA42;
}
/*   Eyes   */
.eye-wrapper{
	display: flex;
    width: 350px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}
.arch{
	position: absolute;
	z-index: -1;
	bottom: 0px;
}
.arch-top{
	width: 175px;
	height: 145px;
	border-radius: 50% 50% 0 0;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(52,44,41,1) 0%, rgba(52,44,41,1) 90%, rgba(222,100,99,1) 90%, rgba(222,100,99,1) 100%, rgba(255,0,0,1) 100%);
	position: absolute;
  }
 .arch-bottom{
	width: 175px;
	height: 145px;
	border-radius: 50% 50% 0 0;
	background-color: #DE6463;
	position: relative;
	top: 100px;
}
.eye{
	width: 100px;
	height: 200px;
	border-radius: 50%;
	position: relative;
}
.eye:first-of-type{
	transform: rotate(-15deg);
	margin-right: 120px;
	background: rgb(255,255,255);
	background: linear-gradient(-0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(40,118,184,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
}
.eye:last-of-type{
	transform: rotate(15deg);
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(40,118,184,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
}
.inner-eye{
	width: 62.5px;
	height: 125px;
	border-radius: 50%;
	background-color: #2876B8;
	position: absolute;
	left: 20px;
	top: 37.5px;
}
/*   Eyes   */
/*   Menu   */
.menu{
	position: fixed;
	right: 40px;
	top: 210px;
	z-index: 10;
}
.menu ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.menu ul li{
	width: 25px;
	height: 25px;
}
.menu ul li:nth-of-type(1){
	background-image: url('../static/settings.svg');
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 5px;
}
.menu ul li:nth-of-type(2){
	background-image: url('../static/search.svg');
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 5px;
}
.menu ul li:nth-of-type(3){
	background-image: url('../static/pokeball-BW.svg');
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}
.menu ul li:nth-of-type(3):hover{
	animation: fadein 0.5s;
	background-image: url('../static/pokeball.svg');
}
.menu ul li:hover{
	cursor: pointer;
}
/*   Menu   */
/*   Search   */
#search{
	text-transform: capitalize;
}
.search-wrapper{
	width: 100%;
	height: calc(100vh - 220px);
	overflow-x: auto;
	background-color: #F2F5F8;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
}
.search-wrapper form{
	width: calc(100vw - 40px);
	position: absolute;
	top: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.search-wrapper form label{
	font-size: 45px;
	font-family: Raleway;
}
.search-wrapper form input{
	border: 0px;
	height: 35px;
	width: 80%;
	border-bottom: 1px solid grey;
	background-color: #F2F5F8;
}
.search-results{
	text-transform: capitalize;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
}
.search-results img{
	height: 25px;
	padding: 0px 5px 0px 5px;
}
.search-results li{
	width: calc(100%);
	color: black;
	font-size: 15px;
	padding: 5px;
	box-sizing: border-box;
}
.search-results li{
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
}
.search-results li div{
	padding: 5px;
}
.search-results li:focus{
	background-color: lightgrey;
}
.search-results li:hover{
	background-color: lightgrey;
}
/*   Search   */
/*   Pokedex   */
.settings-wrapper{
	width: 100%;
	height: calc(100vh - 220px);
	overflow-x: auto;
	background-color: #F2F5F8;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
}
.dextype{
	display: flex;
	justify-content: space-between;
	width: 200px;
}
.settings-wrapper form{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.settings-wrapper form input{
	width: 200px;
    background-color: #DE6463;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}
#ConfirmBTN{
	width: 35%;
    height: 35%;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #dfe6e9;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
#ConfirmBTN h2{
	padding: 25px;
}
#ConfirmBTN p{
	width: 30%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
	margin: 0px 5px 0px 5px;
}
#ConfirmBTN p:first-of-type{
	background-color: #ffffff;
	border: 1px solid #2ECC70;
}
#ConfirmBTN p:first-of-type:hover{
	transition: background-color 0.5s;
	background-color: #2ECC70;
	cursor: pointer;
}
#ConfirmBTN p:last-of-type{
	background-color: #ffffff;
	border: 1px solid #e74c3c;
}
#ConfirmBTN p:last-of-type:hover{
	transition: background-color 0.5s;
	background-color: #e74c3c;
	cursor: pointer;
}
.ConfirmBTNWrapper{
	width: 100%;
    display: flex;
    justify-content: center;
}
.pokedex-wrapper{
	width: 100%;
	height: calc(100vh - 220px);
	overflow-x: auto;
	background-color: #F2F5F8;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
}
/* width */
.pokedex-wrapper::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
.pokedex-wrapper::-webkit-scrollbar-track {
	background: #DE6463; 
  }
  
  /* Handle */
.pokedex-wrapper::-webkit-scrollbar-thumb {
	background: #CD5352; 
  }
  
  /* Handle on hover */
.pokedex-wrapper::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
/*   Pokedex   */
/*   Pokemon   */
.GenerationHeaders{
	width: 100%;
    padding: 30px 0px;
    margin: 0px 30px;
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #bdc3c7;
}
.GenerationHeaders3{
	width: 100%;
    padding: 30px 0px;
    margin: 0px 50px;
    font-weight: bold;
    font-size: 22px;
	border-bottom: 1px solid #E6E9EC;
}
.pokemon{
	width: 230px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	box-sizing: border-box;
}
.pokemon:hover{
	background-color: #E6E9EC;
	cursor: pointer;
}
.pokemon:focus{
	background-color: #E6E9EC;
	cursor: pointer;
}
.pokemon img{
	width: 100px;
}
.PokemonImageWrapper{
	background-color: #F2F5F8;
    position: relative;
    z-index: 2;
}
#pokemonImage{
	width: 100%;
	height: calc(100vh - 220px);
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 20vw;
	background-position-x: calc(95%);
	background-position-y: calc(95%);
	overflow-y: auto;
}
#pokemonImage::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  #pokemonImage::-webkit-scrollbar-track {
	background: #DE6463; 
  }
  
  /* Handle */
  #pokemonImage::-webkit-scrollbar-thumb {
	background: #CD5352; 
  }
  
  /* Handle on hover */
  #pokemonImage::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
#backBTN{
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	background-image: url('../static/back-arrow.svg');
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 200;
}
#backBTN:hover{
	filter: invert(100%);
	cursor: pointer;
}
.information-wrapper{
	width: 50%;
    height: calc(100vh - 220px);
}
.information{
	margin-top: 55px;
}
#name{
	font-size: 60px;
}
#DexID{
	font-family: 'OpenSans', sans-serif;
	font-size: 30px;
    margin-top: 30px;
}
#type-wrapper{
    display: flex;
	width: 100%;
	padding: 20px 20px 20px 0px;
}
.type{
	display: flex;
    height: 25px;
    background-color: #262626;
    border-radius: 7px;
}
.type-name{
	align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    padding: 0px 10px;
}
.type:first-of-type{
	margin-right: 35px;
}
.type-icon{
	width: 50px;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
	clip-path: polygon(0 0, 100% 0%, 52% 100%, 0% 100%);
}
.type-icon > img{
    height: 100%;
    margin-left: 5px;
}
.stats-wrapper{
	font-size: 15px;
	width: 100%;
}
.base-stats{
	display: inline-flex;
}
.base-stats > p:first-of-type{
	width: 80px;
}
.base-stats > p:last-of-type{
	width: 35px;
    margin-top: -2;
}
.min-max-stats{
	display: flex;
}
.min-max-stats > p{
	margin-left: 25px;
}
.min-max-text{
	display: inline-flex;
}
.min-max-text > p:first-of-type{
    margin-right: 20px;
}
.total-stats{
	display: flex;
    justify-content: space-between;
}
.section-title{
	margin-top: 20px;
    font-size: 25px;
}
.progress-wrapper{
	display: flex;
	margin: 0px 0px 5px 0px;
}
.progress-bar{
	width: 350px;
	height:18px;
	margin: 0px 0px 0px 20px;
}
.progress{
	height:13px;
	border-radius: 20px;
}
.stats-red{
	background-color: #F88388;
}
.stats-yellow{
	background-color: #ffdd57;
}
.stats-green{
	background-color: #a0e515;
}
.evolution-wrapper{
	display: flex;
	align-items: center;
}
.Pokemon-evo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.EvoPokemon{
	padding: 10px;
}
.EvoPokemon > img{
	height: 100px;
}
.EvoPokemon > p{
	text-align: center;
}
.EvoPokemon:hover{
	cursor: pointer;
}
.EvoSteps{
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 116px;
    width: 100px;
    text-align: center;
    font-size: 12px;
}
#circle-wrapper{
	display: none;
	position: fixed;
    bottom: calc(0% + 20px);
    right: calc(0% + 20px);
	z-index: 0;
}
#circle{
	width: 480px;
}
/*   Keyframes   */
@keyframes fadein {
    from { opacity: 0.7; }
    to   { opacity: 1; }
}