@font-face {
	font-family: Raleway;
	src: url(../font/Raleway-Light.ttf);
  }
  
*{
	outline: none;
}
.none{
	display: none !important; 
}
.flex{
	display: flex;
}
.global-wrapper{
	position: absolute;
	top: 150px;
	width: 100vw;
	min-height: calc(100vh - 240px);
	display: flex;
	background-color: #DE6463;
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	flex-direction: column;
	padding: 0px 20px 20px 20px;
	box-sizing: border-box;
}
.toolbar{
	width: 100%;
	height: 25px;
	margin-bottom: 25px;
	background-color: #DE6463;
	align-items: center;
    display: flex;
    justify-content: flex-end;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.toolbar ul{
    display: flex;
}
.toolbar ul li{
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	margin-right: 7px;
	-webkit-app-region: no-drag;
	z-index: 10;
}
.toolbar ul li:nth-of-type(3){
	background-color: #FF6159;
}
.toolbar ul li:nth-of-type(2){
	background-color: #FFBE2E;
}
.toolbar ul li:nth-of-type(1){
	background-color: #28CA42;
}
/*   Eyes   */
.eye-wrapper{
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
	z-index: 2;
}
.arch{
	position: absolute;
	z-index: -1;
	bottom: 0px;
}
.arch-top{
	width: 175px;
	height: 145px;
	border-radius: 50% 50% 0 0;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(52,44,41,1) 0%, rgba(52,44,41,1) 90%, rgba(222,100,99,1) 90%, rgba(222,100,99,1) 100%, rgba(255,0,0,1) 100%);
	position: absolute;
  }
 .arch-bottom{
	width: 175px;
	height: 145px;
	border-radius: 50% 50% 0 0;
	background-color: #DE6463;
	position: relative;
	top: 100px;
}
.eye{
	width: 100px;
	height: 200px;
	border-radius: 50%;
	position: relative;
}
.eye:first-of-type{
	transform: rotate(-15deg);
	margin-right: 120px;
	background: rgb(255,255,255);
	background: linear-gradient(-0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(40,118,184,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
}
.eye:last-of-type{
	transform: rotate(15deg);
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(40,118,184,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
}
.inner-eye{
	width: 62.5px;
	height: 125px;
	border-radius: 50%;
	background-color: #2876B8;
	position: absolute;
	left: 20px;
	top: 37.5px;
}
/*   Eyes   */
/*   Search   */
.search-wrapper{
	width: 100%;
	height: calc(100vh - 220px);
	overflow-x: auto;
	background-color: #F2F5F8;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
}
.search-wrapper form{
	width: calc(100vw - 40px);
	position: absolute;
	top: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.search-wrapper form label{
	font-size: 45px;
	font-family: Raleway;
}
.search-wrapper form input{
	border: 0px;
	height: 35px;
	width: 80%;
	border-bottom: 1px solid grey;
	background-color: #F2F5F8;
}
.search-results{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
}
/*   Search   */
/*   Pokedex   */
.pokedex-wrapper{
	width: 100%;
	height: calc(100vh - 220px);
	overflow-x: auto;
	background-color: #F2F5F8;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
}
/* width */
.pokedex-wrapper::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
.pokedex-wrapper::-webkit-scrollbar-track {
	background: #DE6463; 
  }
  
  /* Handle */
.pokedex-wrapper::-webkit-scrollbar-thumb {
	background: #CD5352; 
  }
  
  /* Handle on hover */
.pokedex-wrapper::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
/*   Pokedex   */
/*   Pokemon   */
.pokemon{
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	box-sizing: border-box;
}
.pokemon:hover{
	background-color: #E6E9EC;
	cursor: pointer;
}
.pokemon img{
	width: 100px;
}
/*   Pokemon   */